body {
}
#title {
  display: block;
  margin: 0 auto;
  width: 800px;
}

#slogan {
  display: block;
  margin: 0 auto;
  width: 600px;
}

#frame_container{
  width: auto;
  margin: 0 auto;
  text-align: center;
}

#defaultCanvas0 {
  display: block;
  margin: 0 auto;
  padding: 100px;
  background-image: url("/assets/frame1.png");
  background-size: 800px;
  background-repeat: no-repeat;
}

#frame {
  display: block;
  margin: 0 auto;
  width: 800px;
}

#buttons {
  text-align: center;
}

#buttons img {
  width: 50px;
  margin: 20px;
}

#buttons img:hover {
  cursor: pointer;
  margin: 15px;
  width: 60px;
}


