body {
}
#title {
  display: block;
  margin: 0 auto;
  width: 800px;
}

#slogan {
  display: block;
  margin: 0 auto;
  width: 600px;
}

#frame_container{
  width: auto;
  margin: 0 auto;
  text-align: center;
}

#defaultCanvas0 {
  padding: 50px;
  background-image: url("/assets/frame3.png");
  background-size: 700px;
  border: 2px solid;
}

#frame {
  display: block;
  margin: 0 auto;
  width: 800px;
}

#buttons {
  text-align: center;
}

#buttons img {
  margin: 20px;
}

#buttons img:hover {
  cursor: pointer;
}


